@media(max-width: 1199px){
   
    .aside .nav-toggler{
       display: -ms-flexbox;
        display: flex;
        left: 30px;
    }
    .aside .nav-toggler.open{
        left: 270px;
    }
    .aside{
        left: -250px;
    }
    .aside.open{
        left: 0;
    }
    .section{
        left: 0;
    }
    .section.open{
left: 250px;
    }
    .about .about-contant .personal-info .info-item p span{
        display: block;
        margin-left: 0;

    }
    .section .container{
        padding-top: 70px;
    }
}
@media(max-width: 991px){
    .blog .blog-item,
     .protofile .protofile-item,
    .service .service-item{
        flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        max-width: 50%;



    }

}
@media(max-width: 767px){
    .contact .contact-form .col-6,
    .service .service-item,
    .blog .blog-item,
    .about .about-content .experience,
 .about .about-content .education,
.about .about-content .skills,
.about .about-content .personal-info{
    flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;


}

.protofile .protofolio-filter button{
    margin-bottom: 10px;

}

}
@media(max-width: 575px){
    .contact .contact-info-item,
    .protofile .protofile-item{
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        max-width: 100%;
    }
}